<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attachmentMapper">
	<insert id="insertAtChal" parameterType="Attachment">
		INSERT INTO ATTACHMENT(
			ATTACHMENT_NO
			,REF_TABLE
			,UUID
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
			)
		VALUES (
			SEQ_ATTACHMENT.NEXTVAL
			,'C'
			,#{uuid}
			,#{fileContent}
			,#{fileSize}
			,#{fileName}
			,'N'
			)
	</insert>
	
	<update id="connectChalToAt" parameterType="byte[]">
		update ATTACHMENT
		set STATUS = 'Y'
		where UUID = #{uuid}
	</update>
	
	<select id="selectAtChal" parameterType="byte[]" resultType="Attachment">
		select ATTACHMENT_NO
			,REF_NO
			,REF_TABLE
			,UUID
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
		from ATTACHMENT
		where UUID = #{uuid}
		and STATUS = 'Y'
		and REF_TABLE = 'C'
	</select>
	
	<select id="selectAtComment" parameterType="int" resultType="Attachment">
		select ATTACHMENT_NO
			,REF_NO
			,REF_TABLE
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
		from ATTACHMENT
		where REF_NO = #{commentNo}
		and STATUS = 'Y'
		and REF_TABLE = 'R'
	</select>
	
	<insert id="insertAtComment" parameterType="Attachment">
		INSERT INTO ATTACHMENT(
			ATTACHMENT_NO
			,REF_TABLE
			,UUID
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
			)
		VALUES (
			SEQ_ATTACHMENT.NEXTVAL
			,'R'
			,#{uuid}
			,#{fileContent}
			,#{fileSize}
			,#{fileName}
			,'N'
			)
	</insert>	

</mapper>