<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attachmentMapper">
	<insert id="insertAtChal" parameterType="Attachment">
		INSERT INTO ATTACHMENT(
			UUID
			,REF_TABLE
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
			)
		VALUES (
			#{uuid}
			,'C'
			,#{fileContent}
			,#{fileSize}
			,#{fileName}
			,'N'
			)
	</insert>
	
	<update id="connectAtbyUuid" parameterType="map">
		update ATTACHMENT
		set STATUS = 'Y'
		where UUID = #{uuid}
	</update>
	
	<select id="selectAtChal" parameterType="map" resultType="Attachment">
		select
			UUID
			,REF_NO
			,REF_TABLE
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
		from ATTACHMENT
		where UUID = #{uuid}
		and REF_TABLE = 'C'
	</select>
	
	<select id="selectAtComment" parameterType="int" resultType="Attachment">
		select UUID
			,REF_NO
			,REF_TABLE
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
		from ATTACHMENT
		where REF_NO = #{commentNo}
		and REF_TABLE = 'R'
	</select>
	
	<insert id="insertAtComment" parameterType="Attachment">
		INSERT INTO ATTACHMENT(
			UUID
			,REF_TABLE
			,FILE_CONTENT
			,FILE_SIZE
			,FILE_NAME
			,STATUS
			)
		VALUES (
			#{uuid}
			,'R'
			,#{fileContent}
			,#{fileSize}
			,#{fileName}
			,'N'
			)
	</insert>
	
	<update id="disconnectCommentAndAt" parameterType="int">
		update ATTACHMENT
		set STATUS = 'N'
		where REF_TABLE = 'R'
		and REF_NO = #{commentNo}
	</update>

</mapper>