<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="challengeCommentMapper">

<select id="chalDetailComment" resultType="ChallengeComment" parameterType="SearchComment">
select *
from(
    select a1.*, rownum rnum
    from(
        select cc.COMMENT_NO
              ,cc.USER_NO
              ,cc.CHAL_NO
              ,cc.RECOMMENT_TARGET
              ,cc.REPLY
              ,cc.STATUS
              ,u.NICK
        from CHALLENGE_COMMENT cc
        left join USERS u on(u.USER_NO = cc.USER_NO)
        where CHAL_NO = #{chalNo}
        and RECOMMENT_TARGET = null
        order by COMMENT_NO DESC
    ) a1
    where rownum &lt;= (#{currentPage}+1) * #{showLimit}
)
where rnum &gt; #{currentPage} * #{showLimit}
</select>


<select id="chalDetailRecomment" resultType="ChallengeComment" parameterType="SearchComment">
select *
from(
    select a1.*, rownum rnum
    from(
        select cc.COMMENT_NO
              ,cc.USER_NO
              ,cc.CHAL_NO
              ,cc.RECOMMENT_TARGET
              ,cc.REPLY
              ,cc.STATUS
              ,u.NICK
        from CHALLENGE_COMMENT cc
        left join USERS u on(u.USER_NO = cc.USER_NO)
        where CHAL_NO = #{chalNo}
        and RECOMMENT_TARGET = #{recommentTarget}
        order by COMMENT_NO
    ) a1
    where rownum &lt;= (#{currentPage}+1) * #{showLimit}
)
where rnum &gt; #{currentPage} * #{showLimit}
</select>
	

</mapper>
