<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.spring.notice.model.dao.NoticeDao">
    
    <!-- 사용자용 - 전체 공지사항 조회 -->
    <select id="selectNoticeList" resultType="com.kh.spring.notice.model.vo.Notice">
        SELECT 
            NOTICE_NUM as noticeNum,
            NOTICE_TITLE as noticetitle,
            NOTICE as notice,
            CREATEDATE as createdate
        FROM BOARD
        ORDER BY NOTICE_NUM DESC
    </select>
    
    <!-- 사용자용 - 공지사항 상세 조회 -->
    <select id="selectNoticeByNum" parameterType="int" resultType="com.kh.spring.notice.model.vo.Notice">
        SELECT 
            NOTICE_NUM as noticeNum,
            NOTICE_TITLE as noticetitle,
            NOTICE as notice,
            CREATEDATE as createdate
        FROM BOARD
        WHERE NOTICE_NUM = #{noticeNum}
    </select>
    
    <!-- 사용자용 - 전체 공지사항 개수 조회 -->
    <select id="selectNoticeCount" resultType="int">
        SELECT COUNT(*)
        FROM BOARD
    </select>
    
</mapper>