<!--
오른쪽 사이드바 - 모든 태그의 id는 `right-`로 시작
-->
<th:block th:fragment="chalMain-right">
  <!--프로필 생성 영역-->
  <div id="right-chal-right" class="p-3">
    <div class="list-group">
      <a
        th:href="@{/challenge/newChal}"
        id="right-newChal"
        class="list-group-item list-group-item-action"
        >새로운 챌린지 생성하기</a
      >
      <a
        th:href="@{/challenge/goMyChal?searchType=O}"
        id="right-createdChal"
        class="list-group-item list-group-item-action"
        >내가 생성한 챌린지</a
      >
      <a
        th:href="@{/challenge/goMyChal?searchType=J}"
        id="right-joinedChal"
        class="list-group-item list-group-item-action"
        >내가 참여한 챌린지</a
      >
    </div>
  </div>
  <div id="right-chal-right" class="p-3">
    <div class="list-group">
      <a
        th:href="@{/video-call/main}"
        class="list-group-item list-group-item-action"
        >챌린지 회의실</a
      >
    </div>
  </div>
  <br> <br> <br> <br>
  <div id="right-dangerArea" class="alert alert-warning" role="alert">
    <div class="mt-2 d-flex">
      <input
        type="text"
        class="form-control me-2"
        id="right-keyInput"
        placeholder="키를 입력하세요"
        aria-label="키 입력"
      />
      <button type="button" class="btn btn-warning" id="right-activateAi">
        활성화
      </button>
    </div>
    <div id="right-activateAi-msg" class="mt-2"></div>
  </div>
</th:block>
