<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>챌린지</title>
    <th:block th:replace="~{/common/fragment :: library}"></th:block>
    <script
      th:src="@{/webjars/summernote/0.9.1/dist/summernote-bs5.min.js}"
    ></script>
    <script th:src="@{/js/common/summernote-ko-KR.js}"></script>
    <link
      th:href="@{/webjars/summernote/0.9.1/dist/summernote-bs5.min.css}"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/challenge/chalMain.css}" />
  </head>
  <body>
    <th:block th:replace="~{/common/fragment :: header}"></th:block>
    <div id="main-container" class="container-fluid">
      <div id="main-row" class="row">
        <div id="main-left" class="col-3">
          <th:block
            th:replace="~{/challenge/chalMain-left :: chalMain-left}"
          ></th:block>
          <div id="main-sidebar-left" class="sidebar-bottom"></div>
        </div>
        <div id="main-center" class="col-6">
          <div id="main-challenge-list" class="challenge-list">
            <th:block
              th:replace="~{/challenge/chalMain-center :: chalMain-center}"
            ></th:block>
          </div>
        </div>
        <div id="main-right" class="col-3">
          <th:block th:if="${loginUser != null}">
            <th:block
              th:replace="~{/challenge/chalMain-right :: chalMain-right}"
            ></th:block>
          </th:block>
          <div id="main-sidebar-right" class="sidebar-bottom"></div>
          <!-- 오른쪽 하단에는 깨알같은 맨 위로가기 버튼 -->
        </div>
      </div>
    </div>

    <!-- thymeleaf 스크립트 변수 선언-->
    <script th:inline="javascript">
      const catAll = /*[[${ChallengeCategory}]]*/ ["안아줘요", "싫은데요"];
      const contextPath = /*[[${rootContextPath}]]*/ "/routine";
      const loginUser =
        /*[[${loginUser} != null ? ${loginUser} : null]]*/ "로그인한 회원";
      const myProfile = /*[[${myProfile}]]*/ "프로필";
    </script>
    <!-- 스크립트 파일-->
    <script th:src="@{/js/challenge/chalMain.js}"></script>
  </body>
</html>
